body {
  font-family: Arial, sans-serif;
  height: 100vh;
  width: 100vw;
}

.App{
  display: flex;
  overflow: scroll;
}
#table{
  position: absolute;
  right: 0;
  width: 40vw;
  overflow: scroll;
}

table {
  table-layout: auto;
  width: 100vw;
  height: 100vh;
  font-size: larger;
  /* overflow: scroll; */
}

thead th {
  font-weight: 400;
  background: #75CFF0;
  color: #FFF;
}

tr {
  background: #f4f7f8;
  border-bottom: 3px solid #FFF;
  margin-bottom: 5px;
}

tr:nth-child(even) {
  background: #e8eeef;
}

th, td {
  text-align: center;
  padding: 20px;
  font-weight: 300;
}

table th,
table td {
  border: solid 3px #FFF;
}

.map-container {
  height: 100vh;
  width: 60vw;
  position: fixed;
}
.map-options{
  position: fixed;
}

.filter-col {
  background: #75CFF0;
  display: flex;
}
img{
  height: 2em;
}